@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.green-dark-bg {
  background-color: #3f5b4d;
}

.green-light-bg {
  background-color: #88ab8e;
}

.border-bottom-rad {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.green-btn {
  color: #ffffff !important;
  background-color: #88ab8e !important;
  border: 1px solid #88ab8e !important;
}
.green-btn:hover {
  color: #88ab8e;
  background-color: #ffffff;
}

.icon-brand {
  width: clamp(100px, 120px, 4vw);
}

.text-title {
  color: #4B545A;
}

.box-shadow {
  box-shadow: 0px 0px 16px 0px rgba(136, 171, 142, 0.45);
}

/* Start Header Style-------------*/
nav {
  padding-bottom: 35px;
}
@media (max-width: 1200px) {
  nav .navbar-nav {
    gap: 45px;
  }
}
nav .nav-link {
  font-size: clamp(16px, 20px, 4vw);
  color: #ffffff;
  font-weight: 800;
  font-family: inherit;
}
@media (max-width: 991px) {
  nav .sign-div {
    margin-bottom: 30px;
  }
}
nav .sign-link {
  font-size: clamp(12px, 20px, 4vw);
  border-radius: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 10px 15px;
  border: 2px solid;
}
nav .sign-in {
  background-color: #3f5b4d;
  border-color: transparent;
}
nav .sign-in:hover {
  background-color: transparent;
  border: 2px solid #3f5b4d;
}
nav .new-sign-in {
  border: 2px solid #3f5b4d;
  color: #3f5b4d;
}
nav .new-sign-in:hover {
  background-color: #3f5b4d;
  color: #ffffff;
}

/* End Header Style-------------*/
/* Start Main Hero Style-------------*/
.main-hero {
  height: 100dvh;
  background-color: #88ab8e;
}
.main-hero .search-div {
  background-color: #ffffff;
  text-align: center;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  padding: 16px;
  width: min(600px, 100%);
}
.main-hero .search-div input[type=search] {
  flex-grow: 1;
  background: none;
  outline: none;
  border: none;
}
.main-hero .search-div input[type=search]::placeholder {
  font-weight: 500px;
  font-size: 20px;
}
.main-hero .search-div .search-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  border-radius: 32px;
  box-shadow: -5px -5px 10px 0px #fff, 5px 5px 10px 0px rgba(170, 170, 204, 0.5);
}

.text-hero .title {
  display: inline-flex;
  align-items: flex-end;
  text-align: center;
  margin-bottom: 18px;
}
.text-hero .title h1, .text-hero .title > span {
  font-weight: 700;
  font-size: clamp(25px, 50px, 4vw);
  color: #ffffff;
}
.text-hero .title span {
  color: #3f5b4d;
}
.text-hero p {
  font-size: clamp(20px, 50px, 4vw);
  font-weight: 600;
  color: #ffffff;
}
.text-hero p > span {
  color: #3f5b4d;
}

/* End Main Hero Style-------------*/
/*Start Famous Plants Style*/
.swiper {
  padding: 60px 100px !important;
}

.famous-plants .slid-div {
  border-radius: 25px;
  direction: ltr;
  margin: auto;
  padding: 30px;
}

@media (max-width: 768px) {
  .famous-plants .slid-div {
    padding: 10px;
  }
}
/* Responsev Style Swiper */
@media (max-width: 768px) {
  .swiper {
    padding: 30px !important;
  }
  .famous-plants .slid-div {
    flex-direction: column;
    justify-content: center;
  }
}
.famous-plants .slid-div .image-plant {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  margin: auto;
}

.famous-plants .slid-div .image-plant img {
  border-radius: 16px;
  width: 100%;
}

.famous-plants .slid-div .info {
  text-align: center;
  background-color: #ffffff;
  border-radius: 40px;
}

.famous-plants .slid-div .info h5 {
  color: #3f5b4d;
  font-size: clamp(20px, 50px, 4vw);
  font-weight: 800;
  line-height: normal;
}

.famous-plants .slid-div .info p {
  color: #3f5b4d;
  font-size: clamp(14px, 16px, 4vw);
  font-weight: 900;
  padding: 10px;
}

.famous-plants .slid-div .info a.green-btn {
  display: block;
  margin: 10px 100px;
  padding: 10px;
}

@media (max-width: 768px) {
  .famous-plants .slid-div .info a.green-btn {
    margin: 10px;
  }
}
/*End Famous Plants Style*/
/*Start Products Style*/
.caption .descrp {
  color: #808080;
  font-size: clamp(15px, 22px, 4vw);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
}

.card-bottom {
  gap: 15px;
}

.card-text {
  color: #808080;
  font-size: clamp(12px, 18px, 4vw);
  font-weight: 500;
  line-height: 19px;
  text-align: justify;
}

.card-bottom .btn-card {
  color: #ebeff8;
  border: 1px solid #3f5b4d;
  background-color: #3f5b4d;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
}

.card-bottom .btn-card:hover {
  color: #3f5b4d;
  background-color: #ffffff;
}

.card-bottom .like-icon {
  border-radius: 6px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #ebeff8;
  padding: 10px;
  cursor: pointer;
}

/*End Products Style*/
/*Start About Style*/
.about-section img {
  width: clamp(150px, 250px, 4vw);
}

.about-section p.paragraph {
  color: #3f5b4d;
  font-weight: 700;
  font-size: clamp(18px, 27px, 4vw);
  line-height: 50px;
  margin: 35px 0px;
}

/*End About Style*/
/*Start Story Style*/
.story-div {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.story-div .image-plant {
  min-width: 550px;
  border-radius: 16px;
}
.story-div .image-plant img {
  object-fit: cover;
  width: 100%;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .story-div .image-plant {
    display: none;
  }
}
@media (max-width: 1200px) {
  .story-div .image-plant {
    min-width: 350px;
  }
}
.story-div .storylabel h1 {
  color: #3f5b4d;
  text-align: start;
  font-size: clamp(20px, 30px, 4vw);
  font-weight: bold;
}
.story-div .storyText {
  color: #3f5b4d;
  text-align: justify;
  font-size: clamp(17px, 25px, 4vw);
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1200px) {
  .story-div {
    flex-direction: column;
  }
}
/* End Story Style*/