/*Start Story Style*/
.story-section {
}
.story-div {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  .image-plant {
    min-width: 550px;
    border-radius: 16px;
    img {
      object-fit: cover;
      width: 100%;
      border-radius: 16px;
    }
  }
  @include breakPoint("mobile") {
    .image-plant {
      display: none;
    }
  }
  @include breakPoint("large") {
    .image-plant {
      min-width: 350px;
    }
  }
  .storylabel h1 {
    color: $dark-green-color;
    text-align: start;
    font-size: clamp(20px, 30px, $font-size-vw);
    font-weight: bold;
  }
  .storyText {
    color: $dark-green-color;
    text-align: justify;
    font-size: clamp(17px, 25px, $font-size-vw);
    font-weight: 500;
    line-height: normal;
  }
}
@include breakPoint("large") {
  .story-div {
    flex-direction: column;
  }
}
.needs {
  border-radius: $box-radius;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.box2_text {
  color: $dark-green-color;
  padding: 15px;
  text-align: center;
  font-size: clamp(17px, 25px, $font-size-vw);
  font-weight: 800;
  line-height: normal;
  border-left: 1px solid $dark-green-color;
}

.plant_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button_box2 {
  border-radius: $box-radius;
  background-color: $dark-green-color;
  color: $white-color;
  text-align: center;
  text-decoration: none;
  font-size: clamp(20px, 25px, 4vw);
  font-weight: 800;
  padding: 15px;
}
@include breakPoint("mobile") {
  .needs {
    flex-wrap: wrap;
  }
  .box2_text{
    border-left: none;
  }
}
/* End Story Style*/
