


  /* product care style */
  .Care_label{
    color: #3F5B4D;
    text-align: right;
    font-family: Tajawal;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .Care_sub-label{
    color: #464646;
    text-align: right;
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }

  .care-image{
    margin-left: 10px;
  }



  .Heart_icon{
    fill: #4B545A;
    stroke-width: 1px;
    stroke: #4B545A;
  }

  .price{
    display: flex;
    margin-left: auto;
  }


  /* end of product care */




  /* end of quantity selector */