  @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

  :root {
    --green-color-dark: #3F5B4D;
    --green-color-light: #88AB8E;
    --light-brown: #EEE7DA;
    --sec-light-brown: #F2F1EB;
    --thre-color: #EBEFF8;
  }

  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  ul,
  li {
    list-style-type: none;
  }

  /*Start Products Style*/
  .caption .descrp {
    color: #808080;
    font-size: clamp(15px, 22px, 4vw);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
  }

  .card-bottom {
    gap: 5px;
  }

  .card-text {
    color: #808080;
    font-size: clamp(12px, 18px, 4vw);
    font-weight: 500;
    line-height: 19px;
    text-align: justify;
  }

  .card-bottom .btn-card {
    color: var(--thre-color);
    border: 1px solid var(--green-color-dark);
    background-color: var(--green-color-dark);
    padding: 5px;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
  }

  .card-bottom .btn-card:hover {
    color: var(--green-color-dark);
    background-color: var(--bs-body-bg);
  }

  .card-bottom .like-icon {
    border-radius: 6px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--thre-color);
    padding: 10px;
    cursor: pointer;
  }

  /*End Products Style*/
  /*Start About Style*/
  .about-section {
    background-image: url(../images/aboutpageBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .about-section p.paragraph {
    color: var(--light-brown);
    font-weight: 700;
    font-size: clamp(18px, 25px, 4vw);
    line-height: 50px;
    margin: 35px 0px;
  }

  /*End About Style*/
  /*Start Story Style*/
  .story-section{
    background-image: url(../images/background_green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* End Story Style*/