@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

  
  .Button {
    margin-top: 10px;
  }
  
  .Product_label {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    margin-left: auto;
    
  }

  .Product_Button {
    display: flex;
    max-width: 700px;
    
  }

  /* products.css */

.product_body-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Product_care {
  margin-top: 20px;
}

.care-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.care-image {
  width: 80px; 
  height: auto;
  margin-right: 20px;
}

.care-content {
  width: 100%;
}


/* reviews style */
.review_title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.review-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* plant story */

.StoryText {
  color: #3F5B4D;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Tajawal;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.Storylabel {
  color: #3F5B4D;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Tajawal;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: normal;
}


.box2_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3F5B4D;
  text-align: center;
  font-family: Tajawal;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-right: 20px;
}

.plant_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button_box2{
  border-radius: 20px;
  background: #88AB8E;
  margin: auto;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-size: clamp(20px, 30px, 4vw);
  font-weight: 800;
  padding: 20px 25px;
}
.image-respon{
  width: 100%;
  height: 100%;
  object-fit: cover;
}