.green-dark-bg {
    background-color: var(--green-color-dark);
}

.green-light-bg {
    background-color: var(--green-color-light);
}

.border-bottom-rad {
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.green-btn {
    color: #fff !important;
    background-color: var(--green-color-light) !important;
    border: 1px solid var(--green-color-light) !important;
}

.green-btn:hover {
    color: var(--green-color-light) !important;
    background-color: #fff !important;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-brand {
    width: clamp(100px, 120px, 4vw);
}